---
import Layout from '../layouts/Layout.astro';
const pageTitle = "OptimusePrime";
---
<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img width="300" height="259" alt="RaccoonSpaceGif" src="/space.webp"/>
    </div>
    <h1>OptimusePrime</h1>
    <span class="badge">Commander of Computers (Developer)</span>
    <h2>About</h2>
    <p>
        Hi there! Although I prefer to be known as a hero transformer, my actual name is Karlo.
        I come from Croatia. It's a pretty small country, no surprise if you've never heard of it.
        I'm a high school student at the Fifth Gymnasium in Zagreb, a gem of a school.
        I have an immense passion for computer science and software engineering, it started all the way back when I was 10.
        My first programming language being Java and my first software a Minecraft plugin!
    </p>
    <p>
        Since then, I've moved on to other languages and grown a lot as a person and a developer.
        My main interest right now is application development, primarily in TypeScript and Go, but I also enjoy systems programming with Rust.
        Currently, I'm working on a number of projects, a fitness app, a LeetCode-like open source web app for education, and a CS curriculum focused on app development with web technologies for high schools.
    </p>
    <div class="center">
        <a href="/works/">
            <button class="btn">My portfolio</button>
        </a>
    </div>
    <h2>Skills</h2>
    <div class="skills center">
        <img class="skills__img" width="46" height="46" alt="TypeScript" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/typescript/typescript-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="JavaScript" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="CSS" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="HTML" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="Svelte" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/svelte/svelte-original.svg" />
        <img class="skills__img" width="46" height="46" alt="Capacitor.js" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/capacitor/capacitor-original.svg" />
        <img class="skills__img" width="46" height="46" alt="TailwindCSS" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/tailwindcss/tailwindcss-original.svg" />
        <img class="skills__img" width="46" height="46" alt="Go" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/go/go-original-wordmark.svg" />
        <img class="skills__img" width="46" height="46" alt="Linux" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/linux/linux-original.svg" />
        <img class="skills__img" width="46" height="46" alt="PostgreSQL" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/postgresql/postgresql-original.svg" />
        <img class="skills__img" width="46" height="46" alt="Docker" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/docker/docker-plain-wordmark.svg" />
        <img class="skills__img" width="46" height="46" alt="Git" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original.svg"/>
    </div>
    <h2>Interests</h2>
    <p>
        Although my main professional interests lie in CS, I have dabbled in many other subjects.
        In addition to spending time with my loved ones, in my free time I like to enjoy a good sci-fi or history book.
        Perhaps surprisingly, one of my previous career considerations was becoming a historian or a philosopher.


        That's no longer on the table, but I will always maintain a passion for both.
        Teaching has always fascinated me: even in middle school I wanted to teach computer science.
        Indeed, in addition to being a passion of my, educating and mentoring others is a good way to improve my developer skills.
        And so, right now, I'm developing a CS high school curriculum. <a href="/projects/applied-computer-science/">Check it out!</a>
    </p>
</Layout>

