---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import { getCollection } from "astro:content";
const pageTitle = "Posts";

const allPosts = await getCollection("posts");
---
<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img width="300" height="259" alt="RaccoonWebGif" src="/blog.webp"/>
    </div>
    <h2>Blog</h2>
    <ul role="list" class="link-card-grid">
        {allPosts.map((card) => <Card
                url={`/posts/${card.slug}/`}
                image="/blog-post.webp"
                title={card.data.title}
                body={card.data.description}
        />)}
    </ul>
</Layout>

